/* Common css start  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* Common css end  */

/* header css start  */
.navbar{
position: fixed;
width: 100%;
font-family: "Oswald", sans-serif;
}
.navsocial{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.navsocial i{
    color: #FFFFFF;
}
.navsocial h3{
    color: #FFFFFF;
    font-size: 16px;
}
.navbar ul li a{
    color: #FFFFFF;
    transition: .5s;
}
.navbar ul li a:hover{
    color: #FF4655;
}
/* header css end  */

/* Banner CSS Start  */
#bannerpart{
    background: url(../images/bannermain.png);
    padding-top: 300px;
    padding-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", sans-serif;
}
.textpart{
    color: #FFFFFF;
}
.textpart h3{
    padding-top: 200px;
}
.textpart h1{
    padding-bottom: 140px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 60px;
}
.Viewbtn{
    padding: 15px 30px;
    background: #FFFFFF;
    color: black;
    font-size: 16px;
}
.socialicons{
    padding-top: 300px;
    font-size: 30px;
}
.socialicons a{
    color: #FFFFFF;
}
/* Banner CSS End  */

/* aboutpart css start  */
#aboutpart{
    padding: 100px 0;
    background: black;
}
.abouttext{
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.abouttext h2::before{
    position: absolute;
    height: 4px;
    width: 120px;
    background: #FF4655;
    content: "";
    bottom: -5px;
    left: 200px;
}
.aboutimgsec{
    display: flex;
}
.aboutimgsec h3{
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 600; 
}
.aboutimgsec ul li{
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Barlow Condensed", sans-serif;
}
.aboutimgsec ul li i{
    color: #FF4655;
}
/* aboutpart css end  */
/* common css start  */
/* common css end  */
/* common css start  */
/* common css end  */