/* Common css start  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* Common css end  */

/* header css start  */
.navbar {
    position: fixed;
    width: 100%;
    font-family: "Oswald", sans-serif;
}

.navsocial {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navsocial i {
    color: #FFFFFF;
}

.navsocial h3 {
    color: #FFFFFF;
    font-size: 16px;
}

.navbar ul li a {
    color: #FFFFFF;
    transition: .5s;
}

.navbar ul li a:hover {
    color: #FF4655;
}

/* header css end  */

/* Banner CSS Start  */
#bannerpart {
    background: url(../images/bannermain.png);
    padding-top: 300px;
    padding-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", sans-serif;
}

.textpart {
    color: #FFFFFF;
}

.textpart h3 {
    padding-top: 200px;
}

.textpart h1 {
    padding-bottom: 140px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 60px;
}

.Viewbtn {
    padding: 15px 30px;
    background: #FFFFFF;
    color: black;
    font-size: 16px;
}

.socialicons {
    padding-top: 300px;
    font-size: 30px;
}

.socialicons a {
    color: #FFFFFF;
}

/* Banner CSS End  */

/* aboutpart css start  */
#aboutpart {
    padding: 100px 0;
    background: black;
}

.abouttext {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.abouttext h2::before {
    position: absolute;
    height: 4px;
    width: 120px;
    background: #FF4655;
    content: "";
    bottom: -5px;
    left: 200px;
}

.aboutimgsec {
    padding-top: 70px;
    display: flex;
    padding-bottom: 50px;
}

.aboutimgsec h3 {
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 27px;
}

.aboutimgsec ul li {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Barlow Condensed", sans-serif;

}

.aboutimgsec ul li i {
    color: #FF4655;
}

.aboutimgsec p {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 30px;
}

.aboutViewbtn {
    padding: 15px 30px;
    background: #212121;
    color: #FFFF;
    font-size: 16px;
}

.aboutboxpart {
    display: flex;
    text-align: center;
}
.box {
    background: #212121;
    height: 170px;
    width: 315px;
    border-top-right-radius: 65px;
    border-bottom-left-radius: 65px;
    
}
.aboutboxpart h2 {
    color: #FFFFFF;
    font-style: 70px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.aboutboxpart i {
    font-size: 10px;
    color: #FF4655;
}

.aboutboxpart p {
    color: rgba(255, 255, 255, 0.7);
    font-style: 18px;
    font-family: "Oswald", sans-serif;
}
/* aboutpart css end  */

/* popular css start  */
#popularpart{
    padding: 100px 0;
    background: #191919; 
   
}
.populartext{
   color: #FFFFFF;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-align: right;
}
.populartext h3::before {
    position: absolute;
    height: 4px;
    width: 105px;
    background: #FF4655;
    content: "";
    bottom: -5px;
    right: 110px;
}
.gameimg{
    padding-top: 40px;
}
.slidbtn{
text-align: right;
font-size: 30px;
}
.slidbtn a{
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    transition: all linear .4s;
}
.slidbtn a:hover{
    background: transparent;
    color: #FF4655;
}
/* popular css end  */
/* stream css start  */
#streampart{
    padding: 100px 0;
    background: #121212;
}
.livetxt{
     color: #FFFFFF;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.livetxt h3::before {
    position: absolute;
    height: 4px;
    width: 120px;
    background: #FF4655;
    content: "";
    bottom: -5px;
    left: 130px;
}
.slides a{
    padding-top: 75px;
    padding-bottom: 60px;
}
.matches{
    text-align: center;
}

.slides h3{
    color: #FFFFFF;
    font-style: 25px;
    font-weight: 500;
    font-family: "Barlow Condensed", sans-serif;
    text-align: center;
}
.matches{
    justify-content: center;
    padding-top: 20px;
}
.matchestwo{
    padding-top: 40px;
    padding-bottom: 50px;
}
/* stream css end  */
/* topgames css start  */
#topgames{
    padding: 100px 0;
    background: #191919;
}
.gameheading{
   color: #FFFFFF;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-align: right;
    font-family: "Barlow Condensed", sans-serif;
}
.gameheading h3::before {
    position: absolute;
    height: 4px;
    width: 105px;
    background: #FF4655;
    content: "";
    bottom: -5px;
    right: 70px;
}
.salepart{
   padding-top: 50px;
   padding-bottom: 50px;
}
.catalogtxt h3{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    font-family: "Barlow Condensed", sans-serif;
    padding-bottom: 30px;
   
}
.catalogpart{
    background: #212121;
    padding: 30px 50px;
    display: flex;
    column-gap: 100px; 
    font-family: "Oswald", sans-serif;
}
.catalog h3{
    color: #FF4655;
    font-size: 16px;
    font-weight: 500;
   
}
.catalog h2{
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 600;
     font-family: "Barlow Condensed", sans-serif;
     padding-top: 20px;
     padding-bottom: 20px;
     width: 500px;

}
.catalog p{
    color: #666666;
    font-style: 18px;
    font-weight: 600; 
    padding-bottom: 30px;
    
}
.Browsebtn{
    padding: 10px 30px;
    background: #121212;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
   
}
